@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"),
    url("./assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 400; /*Normal*/
  font-style: light;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"),
    url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: medium;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 600; /* Bold */
  font-style: bold;
}
